<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home_app:index' %}">Caja de Ahorros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_app:index' %}">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Credito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>

    {% if  not user.is_anonymous %}
      <form class="form-inline" action=" {% url 'home_app:panel' %} ">
        <button class="btn btn-outline-success" type="submit">Perfil</button>
      </form>
    {% else %}
      <form class="form-inline" action=" {% url 'user_app:login-user' %} ">
        <button class="btn btn-outline-warning" type="submit">Acceder</button>
      </form>
    {% endif %}


  </div>
</nav>
