{% extends '../base.html' %}
{% load static %}



{% block title %}
  Login Usuario
{% endblock title %}


{% block content %}

{% include '../includes/header.html' %}

<hr>
<center>
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
        <h3>Inicio de Sesion</h3>
            <form method="post">
              {% csrf_token %}
            <div class="form-group">
              {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password }}
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Acceder" />
            </div>
            <div class="form-group">
                <a href="#" class="btnForgetPwd">Olvide mi Password?</a>
            </div>
            </form>
    </div>
  </div>
</div>
</center>

{% endblock content %}




