{% extends '../base.html' %}
{% load static %}



{% block title %}
  Password
{% endblock title %}



{% block content %}

{% include './includes/headerLogin.html' %}


  <div class="container">
    <h1 class="display-4">Password {{ user.username }}</h1>
    <center>
    <hr>
      <div class="container">
        <form action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-light btn-lg btn-block" type="submit">Actualizar</button>
  =      </form>
      </div>
    </center>
  </div>




{% endblock content %}

